.margen{
    margin: 100px;
}

.tabla{
    width: 100%;
    text-align: left;
}

.tabla td{
    padding: 10px 10px;
}

.is-centered{
    text-align: center;
}

#menu{
    background-color: #253A46;
    padding: 20px;
    font-size: 20px;
}

#menu a{
    color: white;
    padding-right: 25px;
}

body{
    margin: 0;
    background-color: #F0F0F0;
}

.pub_titulo {
	border-top: 1px solid black;
}

.pub_titulo {
	border-top: 1px solid black;
	cursor: pointer;
}

li {
	margin: 15px 0 15px 0;
}

.contenedor_tareas {
	font-size: 20px;
	margin-left: 50px;
	margin-bottom: 70px
}

.m_left {
	margin-left: 20px;
}